<mat-toolbar>
    <mat-toolbar-row style="font-size: 1.5rem; height: 80px;">
        <span>Gerenciamento de Colaboradores</span>
        <button mat-fab class="home" color="" (click)="home()">
            <mat-icon >home</mat-icon>
          </button>
        <span class="example-spacer"></span>
        <button mat-raised-button aria-label="Example icon-button with heart icon" (click)="addColaborador()">
            <mat-icon>add</mat-icon>
          </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<br>
<router-outlet></router-outlet>
